# Python bytecode files
__pycache__/
*.pyc
*.pyo

# Virtual environment folder
venv/

# .env file for API keys and other secrets
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

# IntelliJ IDEA files
.idea/

# VS Code files
.vscode/

# pytest cache
.cache/

# log files
*.log

# test outputs
*.out
*.err
